//
// Mixins
// --------------------------------------------------

@mixin transition($animate) {
	-moz-transition: $animate;
	-o-transition: $animate;
	-webkit-transition: $animate;
	transition: $animate;
}